<nav class="nav nav-pills nav-justified">
  <a class="btn btn-success btn_nav_group" href="/other_groups" data-toggle="tooltip" data-placement="bottom"  title="Groupes affectés à vos entreprises">Groupes privés</a>
  <a class="btn btn-default btn_nav_group" href="/other_groups_out" data-toggle="tooltip" data-placement="bottom"  title="Groupes non-affectés à une entreprise">Groupes publics</a>
</nav>
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });
</script>