<div id='EditTaskPost<%=@task.id%>' class='modal fade MyUpdElm' role='dialog'>
  <div class="modal-dialog">
    <div class='content'>
      <div class="modal-header">
        <h4>Selectionner une tâche</h4>
      </div>
      <div class="modal-body">
        <%= render 'tasks/elm/list' %>
      </div>
    </div>
  </div>
</div>