<div id="company_invitation_format">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="col-xs-4">
            <a href="/info_step/?step=1" data-method="patch" data-remote="true" class="register_steps">
              <i class="fa fa-user" id="register_step_icon"></i>
            </a>
          </div>
          <div class="col-xs-4">
            <a href="/info_step/?step=2" data-method="patch" data-remote="true" class="register_steps" style="padding-left: 4px;">
              <i class="fa fa-building" id="register_step_icon"></i>
            </a>
          </div>
          <div class="col-xs-4">
            <div class="register_steps_active" style="padding-right: 6px;">
              <i class="fa fa-paper-plane" id="register_step_icon_active"></i>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <h5> Invitez vos collaborateurs :</h5>
          
          
          <br>
          <a href="/" class="btn btn-success pull-right">
            Commencer
          </a>
          <a href="/info_step/?step=2" data-method="patch" data-remote="true" class="btn btn-default pull-left">
            Retour
          </a>
        </div>
      </div>
    </div>
  </div>
</div>