<h4>Vous avez recu une invitation :</h4>
<h5 style="color:#dd5250">Attention, vous ne pouvez accepter qu'une seule invitation !</h5>
<% @invitations = CompanyInvitation.where(email: current_user.email)%>
<div class="my_area">
<% @invitations.each do |invitation| %>
  <div id="invited_item">
    <div class="my_item">
      <div class="company_invit_email">
        <%= invitation.company.name %>
      </div>
      <div class="company_invit_date">
        <%= invitation.updated_at.strftime('%d %b')%>
      </div>
        <a href='/companies/<%=invitation.company.id%>/accept_invit' data-method="patch" data-remote="true" class="my_btn_val">
          <i class="fa fa-check"></i>
        </a> 
    </div>
  </div>
<% end  %>
</div>
<div style="text-align:center; margin-top: 15px;">
  <a class="btn_delete_all_my_invitations" href='/del_all_invit' data-method="patch" data-remote="true" >
    <i class="fa fa-trash" id="fa_icons"></i>
    Supprimer les invitations et créer ma propre entreprise
  </a>
</div>