$('#my_companies_area').append("<%=  j render partial: 'companies/item', locals: {company: @company} %>");
$('#company_name').val('');
$('#company_iter<%=@company.id%>').hide();
$('#company_iter<%=@company.id%>').slideDown();
$('#new_form_company').slideUp();
if('<%=@idz%>' == 1 ){
  $('#next_step_btn').html('<a href="/info_step/?step=3" class="btn btn-success pull-right"data-remote="true"data-method="patch">Suivant</a>')
}