<div class="my_item" id="group_invit_iter<%=group.id%>">
  <div class="my_item_name">
    <%- if group.cat == 4 %>
      <span class="fa fa-lock" id="fa_icons"></span>
    <% elsif group.cat == 5 %>
      <span class="fa fa-user-secret" id="fa_icons"></span>
    <% end %>
    <%=group.name%>
  </div>
  <a href="/groups/<%=group.id%>/acc_invit" data-method="patch" data-remote="true" class="my_btn_val">
    <i class="fa fa-check"></i>
  </a>
  <a href="/groups/<%=group.id%>/den_invit" data-method="patch" data-remote="true" class="my_btn_del">
    <i class="fa fa-close"></i>
  </a>
</div>