<div style="text-align: -webkit-center;">
  <h4>Rejoindre un groupe</h4>
    <a class="btn btn_nav_group" href="/other_groups" data-toggle="tooltip" data-placement="bottom"  title="Groupes affectés à vos entreprises" id="btn1">Groupes privés</a>
    <a class="btn btn_nav_group" href="/other_groups_out" data-toggle="tooltip" data-placement="bottom"  title="Groupes non-affectés à une entreprise" id="btn2">Groupes publics</a>
  <div class="my_area other_groups_area" id="other_groups">
    <%- if @groups.any? %>

      <%= render :partial => 'groups/other/group', collection: @groups %>
      <%= will_paginate @groups, renderer: BootstrapPagination::Rails %>
    <% else %>
      <h5>Aucuns autres groupes</h5>
    <% end %>
  </div>
  <script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip()
      // Btn active/unactive
      var pathname = window.location.pathname
      if(pathname == '/other_groups_out'){
        $('#btn1').addClass('btn-default')
        $('#btn2').addClass('btn-success')
      } else {
        $('#btn1').addClass('btn-success')
        $('#btn2').addClass('btn-default')
      }
    });
  </script>
</div>
