<div style="text-align: center;">
  <h4>Rejoindre un groupe</h4>
    <a class="btn btn-default btn_nav_group" href="/other_groups" data-toggle="tooltip" data-placement="bottom"  title="Groupes affectés à vos entreprises">Groupes privés</a>
    <a class="btn btn-success btn_nav_group" href="/other_groups_out" data-toggle="tooltip" data-placement="bottom"  title="Groupes non-affectés à une entreprise">Groupes publics</a>
  <%= render 'groups/other/table'%>
</div>