<%- if post.nil? %>
<!-- Update Post -->
<div class="post_elements" id="post_elements">
<% else %>
<!-- New Post -->
<div class="post_elements" id="post_elements<%=post.id%>">
<% end %>
  <hr style='margin: 7px;'>
    <div class="new_post_elements_list">
      <% elements.each do |e| %>
        <%= render 'posts/element', element: e%>
      <% end %>
    </div>
  <hr style='margin: 7px; margin-top: 2px;'>
</div>

<%- unless elements.any? %>
  <!-- If no element -> hide the space -->
  <%- if post.nil? %>
    <script>
      $('#post_elements').hide();
    </script>
  <% else %>
    <script>
      $('#post_elements<%=post.id%>').hide();
    </script>
  <% end %>
<% end %>